extends layout

block content
  h1= title
  p Welcome to #{title}

  div(class='api_group') 
   h3 API Samples
   ul  Samples
    li
     a(href="/api/v1") Version 1.0.0 Home
    li
     a(href="/api/v1/info") Info | Sample Call
   ul GET
    li
     a(href="/api/v1/findGroupWithId/12") Find Group By Id ( /api/v1/findGroupWithId/{id} )
   ul POST
    li
     a() Create Group ( /api/v1/createGroup )
   
   h3 API references
   span API Root URL- #{endPoint}
   ul From Object
    - var apiObj = {allAPIs}
    each val, key in apiObj.allAPIs
     li= key + ': ' + val

   ul From Array
    each val, index in aObj
     li= index + ': ' + val
